<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="padding">
    <ion-grid>
      <ion-row>

        <ion-col class="logo">
          <ion-avatar>
            <img src="assets/image/farmacia.png">
          </ion-avatar>

          <ion-title>
            FARMAMUNDO
          </ion-title>
        </ion-col>

        <ion-col class="search-bar">
          <ion-searchbar (ionInput)="printSearchbar($event)">
            
          </ion-searchbar>
        </ion-col>

        <ion-col class="icon-contened">
          <ion-buttons *ngIf="!isLoggedIn">
            <ion-button fill="solid" size="large" (click)="login()">Iniciar sesión</ion-button>
            <ion-button fill="solid" size="large" (click)="modal()">Registrarse</ion-button>
          </ion-buttons>
          <ion-buttons *ngIf="isLoggedIn">
            <ion-button fill="solid" (click)="goToHome()" *ngIf="tipo">
              Registrar producto
            </ion-button>
            <ion-button fill="solid">
              <ion-icon class="icono" name="person"></ion-icon>
              {{nombre}}&nbsp;{{apellido}}
            </ion-button>
            <ion-button color="danger" fill="solid" (click)="logout()">
              <ion-icon class="icono" name="exit-outline"></ion-icon>
              Cerrar sesión
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-toolbar>
</ion-header>