.padding {
    padding: 5px;
}

.logo {
    display: flex;
    flex-direction: row;
}

.icono {
    width: 32px;
    height: 32px;

}

.search-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.icon-contened {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
