<!--<div class="text">
    TODOS NUESTROS PRODUCTOS
</div>--> 
<div class="categorias">
    <ion-button (click)="mostrarNombre(message)">
        <ion-icon align="center" slot="start" name="search"></ion-icon>    
    </ion-button>
    <ion-button class="boton" (click)="mostrarCatalogo()">Todos los productos</ion-button>     
    <div *ngFor="let cat of nombreCategorias">
        <ion-button class="boton" (click)="mostrarCategoria(cat.payload.doc.data().categoria)">
            {{cat.payload.doc.data().categoria}}</ion-button>
        <!--<ion-button class="boton" (click)="mostrarCatalogo()">Todos los productos</ion-button>
        <ion-button class="boton" (click)="mostrarCategoria('Mamá y bebe')">Mamá y bebe</ion-button>
        <ion-button class="boton" (click)="mostrarCategoria('Cuidado personal')">Cuidado personal</ion-button>
        <ion-button class="boton" (click)="mostrarCategoria('Medicamentos')">Medicamentos</ion-button>
        <ion-button class="boton" (click)="mostrarCategoria('Hogar')">Hogar</ion-button> -->
    </div>
</div>


<div class="no-encontrado" *ngIf="!hayProducto; else hayProds">
    {{errorMessage}}
</div>

<ng-template #hayProds>
    <div class="center">
        <div align="center" class="tabla">
            <div class="tabla" *ngFor="let producto of catalogo">
                <div>
                    <div class="producto"><img src="{{producto.payload.doc.data().imagen}}" alt="imagen del producto">
                        <br>{{producto.payload.doc.data().nombre}}
                        <br>{{producto.payload.doc.data().precio}} Bs.
                        <br><button mat-button (click)="openDialog(producto)">Ver más</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
