<button ion-button class="button-native close-button" (click)="onNoClick()">X</button>
<h1>{{ getNombre() }}</h1>
<div class="categoria">{{ getCategoria() }}</div>

<div>
    <h3>Precio {{ getPrecio() }} Bs.</h3>  
</div>
<div>
    <h3>Descripcion</h3>
    <p> {{ getDescripcion() }} </p>  
</div>
<div>        
    <h3>Elaborado por</h3>
    <p>{{ getFabricante() }}</p>
</div>

<div>
    <h3>{{ estaAgotado() }}</h3>
</div>  



<!--<mat-dialog-actions align="center">    
    <button mat-button>Agregar a carrito</button>
</mat-dialog-actions>-->


