h1,h3{
    font-weight: bold;
}

button{
    padding: 5px 10px 5px 10px;
    margin: 5px 5px 5px 0px;
    background-color: white;    
    border: 0.5px;
    border-style: solid;
    border-color: #9ba3a3;
    border-radius: 5px;
}

.categoria{
    color: #5d6969;
    margin-top: -20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #9c9c9c;
}

img {
  max-width:200px;
  height:auto;
}
      
.tabla {
  display: grid;
  grid-template-columns: repeat(4, 1fr);  
  gap: 10px;
  justify-content: center;   
  padding-top: 40px;
  padding-bottom: 40px;  
}
@media(max-width:800px){
  .tabla {
     grid-template-columns: repeat(3, 1fr);
  }
}

.producto{  
  align-content: center;
}

.center{
  vertical-align: middle; 
  margin-left: 10%;
}

.text{
  font-size: 45px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}
.close-button{ 
  color: white;
  background-color: #4db2a5;
  float: right;
  top:-24px;
  right:-24px;
  border: none;
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  
}

.categorias {  
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton{  
  width: 250px;
  background-color: aquamarine;
}

.no-encontrado{
  margin: auto; 
  font-size: 30px;
  padding: 100px;
  text-align: center;
  color: #92949c;
}

