ion-button {
  margin-right: 10px;
}

form {
  width: 100%;
}

#registrar {
  margin: 10px;
}

mat-form-field {
  display: block;
  width: 90%;
  margin: 0 auto;
}

ion-item {
  display: block;
  width: 100%;
  margin-top: 0.5em;
}

ion-item-group {
  width: 60%;
  margin: 0 auto;
}

#facebook {
  --background: #3b5998;
}

#google {
  --background: #DB4437;
}

.logo {
  width: 100%;
}
