<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
    <ion-button slot="end" (click)="dismiss()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider>
      <ion-label>Con correo electronico</ion-label>
    </ion-item-divider>
    <ion-item>
      <form [formGroup]="logInFormGroup">
        <mat-form-field>
          <mat-label>Email:</mat-label>
          <input type="text" matInput placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="logInFormGroup.controls['email'].hasError('required')">
            Este campo es obligatorio
          </mat-error>
          <mat-error *ngIf="logInFormGroup.controls['email'].hasError('email')">
            Debe tener la forma abc@def.xyz
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Contraseña:</mat-label>
          <input type="password" matInput placeholder="Contraseña" formControlName="pass" required>
          <mat-error *ngIf="logInFormGroup.controls['pass'].hasError('required')">
            Este campo es obligatorio
          </mat-error>
          <mat-error *ngIf="logInFormGroup.controls['pass'].hasError('minLength')">
            Debe tener 8 caracteres como minimo
          </mat-error>
          <mat-error *ngIf="logInFormGroup.controls['pass'].hasError('maxLength')">
            Debe tener 15 caracteres como maximo
          </mat-error>
          <mat-error *ngIf="logInFormGroup.controls['pass'].hasError('pattern')">
            Caracteres especiales permitidos / \ []:; | =, + *? <>
          </mat-error>
        </mat-form-field>
        <ion-button fill="solid" size="medium" (click)="loginEmail()" size="block" id="registrar">Iniciar sesión
        </ion-button>
      </form>
    </ion-item>
    <!-- <ion-item-divider>
      <ion-label>Con servicios de terceros</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-button size="medium" size="block" id="facebook" class="logo">
        <ion-icon name="logo-facebook"></ion-icon>
        &nbsp;&nbsp;Facebook
      </ion-button>
      <ion-button size="medium" size="block" id="google" class="logo">
        <ion-icon name="logo-google"></ion-icon>
        &nbsp;&nbsp;Google
      </ion-button>
    </ion-item> -->
  </ion-list>
</ion-content>