input {
  color: black;
}

mat-horizontal-stepper {
  width: 70%;
  margin: 20px auto;
}

mat-form-field {
  width: 100%;
}

button {
  margin: 5px 5px 5px 0px;
}

#right {
  float: right;
}

ion-content {
  height: 600px;
}