<mat-toolbar>
  <span class="fill-remaining-space"></span>
  <span>Categorias</span>
  <span class="fill-remaining-space"></span>
</mat-toolbar>
<ion-item-divider>
  <ion-label>Registrar Categoria</ion-label>
</ion-item-divider>
<br>
<div *ngInit="cargarTablaCategorias()"></div>
<form [formGroup]="CategoryFormGroup">
<table cellspacing="0"><tr>
  <td><mat-form-field >
      <mat-label>Ingrese Categoria: </mat-label>
      <mat-hint>Minimo 3 caracteres</mat-hint>
      <input #category type="text" matInput minlength="3" maxlength="30" formControlName="categoria" required>
      <mat-hint align="end">{{category.value.length}} / 30</mat-hint>
      <mat-error *ngIf="CategoryFormGroup.controls['categoria'].hasError('required')">
        Este campo es obligatorio
      </mat-error>
    </mat-form-field></td>
    
    <td><mat-form-field >
      <mat-label>Descripcion: </mat-label>
      <mat-hint>Minimo 15 caracteres</mat-hint>
      <input matInput #descripcion minlength="15"maxlength="300" formControlName="descripcion"required>
      <mat-hint align="end">{{descripcion.value.length}} / 300</mat-hint>
      <mat-error *ngIf="CategoryFormGroup.controls['descripcion'].hasError('required')">
        Este campo es obligatorio
      </mat-error>
    </mat-form-field></td>
   
    <td>
      <button mat-flat-button type="submit" color="primary" (click)="registrarCategoria()">Agregar</button>
    </td> 
    <!-- <td>
      <button mat-flat-button type="reset" color="primary" >Limpiar</button>
    </td>  -->
    <!-- type="submit"  type="reset" onsubmit="reset()"  (ngSubmit)="reset"  -->
 </tr></table> 
 <br>
</form>
<ion-item-divider>
  <ion-label>Lista</ion-label>
</ion-item-divider>
 <br>
    <td><mat-form-field>
          <mat-label>Buscar</mat-label>
          <input matInput (keyup)="applyFilter($event)" #input (click)="actualizar()">
        </mat-form-field></td>
    <br>
  <ion-content>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container *ngFor="let columna of columnas"matColumnDef="{{columna.name}}">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columna.titulo}}</th>
          <td mat-cell *matCellDef="let element"> {{element[columna.name]}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
    </div>
</ion-content>