<ion-header>
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
    <ion-button slot="end" (click)="dismiss()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-vertical-stepper linear #stepper>

    <mat-step [stepControl]="datosAdminFormGroup">
      <form [formGroup]="datosAdminFormGroup">
        <ng-template matStepLabel>Datos Personales
          <span *ngIf="tipo; else elseBlock">Administrador</span>
          <ng-template #elseBlock>Cliente</ng-template>
        </ng-template>
        <mat-form-field hintLabel="Max. 30 caracteres">
          <mat-label>Nombre(s):</mat-label>
          <input type="text" matInput placeholder="Nombre(s)" formControlName="nombre" required>
          <mat-error *ngIf="datosAdminFormGroup.controls['nombre'].hasError('required')">
            Este campo es obligatorio
          </mat-error>
          <mat-error *ngIf="datosAdminFormGroup.controls['nombre'].hasError('pattern')">
            Solo caracteres alfabeticos
          </mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Max. 30 caracteres">
          <mat-label>Apellido(s):</mat-label>
          <input type="text" matInput placeholder="Apellido(s)" formControlName="apellido" required>
          <mat-error *ngIf="datosAdminFormGroup.controls['apellido'].hasError('required')">
            Este campo es obligatorio
          </mat-error>
          <mat-error *ngIf="datosAdminFormGroup.controls['apellido'].hasError('pattern')">
            Solo caracteres alfabeticos
          </mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Min. 6 números">
          <mat-label>Carnet de Identidad:</mat-label>
          <input type="text" matInput placeholder="Carnet de Identidad" formControlName="ci" required>
          <mat-error *ngIf="datosAdminFormGroup.controls['ci'].hasError('required')">
            Este campo es obligatorio
          </mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Max. 30 caracteres" *ngIf="tipo">
          <mat-label>Profesión:</mat-label>
          <input type="text" matInput placeholder="Profesión" formControlName="prof" required>
          <mat-error *ngIf="datosAdminFormGroup.controls['prof'].hasError('required')">
            Este campo es obligatorio
          </mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Max. 8 números">
          <mat-label>Número de Celular:</mat-label>
          <input type="number" matInput placeholder="Número de Celular" formControlName="cel" required>
          <mat-error *ngIf="datosAdminFormGroup.controls['cel'].hasError('required')">
            Este campo es obligatorio
          </mat-error>
          <mat-error *ngIf="datosAdminFormGroup.controls['cel'].hasError('min')">
            Empiece con el digito 6 o 7
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-flat-button matStepperNext color="primary">Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="datosFarmaciaFormGroup" *ngIf="tipo">
      <form [formGroup]="datosFarmaciaFormGroup">
        <ng-template matStepLabel>Datos de Farmacia</ng-template>
        <mat-form-field hintLabel="Max. 20 caracteres">
          <mat-label>Nombre de la farmacia:</mat-label>
          <input type="text" matInput placeholder="Nombre(s)" formControlName="name" required>
          <mat-error *ngIf="datosFarmaciaFormGroup.controls['name'].hasError('required') ">
            Este campo es obligatorio
          </mat-error>
          <mat-error *ngIf="datosFarmaciaFormGroup.controls['name'].hasError('pattern') ">
            Solo caracteres alfabeticos
          </mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Max. 7 numeros">
          <mat-label>Teléfono de referencia:</mat-label>
          <input type="number" matInput placeholder="Teléfono de referencia" formControlName="phone" required>
          <mat-error *ngIf="datosFarmaciaFormGroup.controls['phone'].hasError('required')">
            Este campo es obligatorio
          </mat-error>
          <mat-error *ngIf="datosFarmaciaFormGroup.controls['phone'].hasError('pattern') ">
            Solo numeros
          </mat-error>
          <mat-error *ngIf="datosFarmaciaFormGroup.controls['phone'].hasError('min') ">
            Empiece con el digito 4
          </mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Max. 20 numeros">
          <mat-label>Registro NIT:</mat-label>
          <input type="number" matInput placeholder="Registro NIT" formControlName="numnit" required>
          <mat-error *ngIf="datosFarmaciaFormGroup.controls['numnit'].hasError('required')">
            Este campo es obligatorio
          </mat-error>
          <mat-error *ngIf="datosFarmaciaFormGroup.controls['numnit'].hasError('pattern') ">
            Solo numeros
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Hora de Apertura:</mat-label>
          <mat-select formControlName="horaInicio" required>
            <mat-option *ngFor="let horario of horarios" [value]="horario.id">
              {{ horario.hora }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Hora de Cierre:</mat-label>
          <mat-select formControlName="horaFin" required>

            <mat-option *ngFor="let horario of horarioAux()" [value]="horario.id">
              {{ horario.hora }}
            </mat-option>
          </mat-select>

        </mat-form-field>

        <mat-form-field hintLabel="Max. 30 caracteres">
          <mat-label>Dirección:</mat-label>
          <input type="text" matInput placeholder="Dirección de la farmacia" formControlName="dir" required>
          <mat-error *ngIf="datosFarmaciaFormGroup.controls['dir'].hasError('required')">
            Este campo es obligatorio
          </mat-error>
        </mat-form-field>

        <div>
          <button mat-stroked-button matStepperPrevious color="primary">Atrás</button>
          <button mat-flat-button matStepperNext color="primary">Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="datosLoginFormGroup">
      <form [formGroup]="datosLoginFormGroup">
        <ng-template matStepLabel>Datos de inicio de sesión</ng-template>
        <mat-form-field>
          <mat-label>Correo electrónico</mat-label>
          <input type="email" matInput placeholder="Correo electronico" formControlName="email" required>
          <mat-error *ngIf="datosLoginFormGroup.controls['email'].hasError('email')">
            No es un correo valido
          </mat-error>
          <mat-error *ngIf="datosLoginFormGroup.controls['email'].hasError('required')">
            Este es un campo obligatorio
          </mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Min. 8 caracteres - Caracteres especiales permitidos  / \ []:; | =, + *?<>">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput placeholder="Contraseña" formControlName="contrasena" required>
          <mat-error *ngIf="datosLoginFormGroup.controls['contrasena'].hasError('pattern')">
            No se permiten espacios en blanco
          </mat-error>
          <mat-error *ngIf="datosLoginFormGroup.controls['contrasena'].hasError('required')">
            Este es un campo obligatorio
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Confirmar contraseña</mat-label>
          <input type="password" matInput placeholder="Confirmar contraseña" formControlName="retype_contrasena"
            required>
          <mat-error *ngIf="datosLoginFormGroup.controls['retype_contrasena'].hasError('pattern')">
            {{ getErrorMessagePass() }}
          </mat-error>
          <mat-error *ngIf="datosLoginFormGroup.controls['retype_contrasena'].hasError('required')">
            {{ getErrorMessagePass() }}
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-stroked-button matStepperPrevious color="primary">Atrás</button>
          <button mat-flat-button (click)="verifyPass()" matStepperNext color="primary">Enviar</button>
        </div>
      </form>
    </mat-step>

  </mat-vertical-stepper>
</ion-content>