ion-button {
  margin-right: 10px;
}

ion-content {
  width: 90%;
  display: inline-block;
  align-self: center;

}
ion-card {
  display: block;
  width: 45%;
  height: auto;
  text-align: center;
  padding: 3em;
  margin-top: 20%;
}

.grande {
  margin: 0 auto;
  font-size: 5em;
}

ion-label {
  size: 100px;
  display: block;
  font-weight: bold;
}

#left {
  float: left;
}

#right {
  float: right;
}