<ion-header>
  <ion-toolbar>
    <ion-title>Seleccione el tipo de usuario</ion-title>
    <ion-button slot="end" (click)="dismiss(2)">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card button id="left" (click)="dismiss(1)">
    <ion-icon name="medkit-sharp" class="grande"></ion-icon>
    <ion-label>Farmacia</ion-label>
  </ion-card>

  <ion-card button id="right" (click)="dismiss(0)">
    <ion-icon name="person-sharp" class="grande"></ion-icon>
    <ion-label>Cliente</ion-label>
  </ion-card>
</ion-content>