<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
<mat-toolbar>
  <span class="fill-remaining-space"></span>
  <span>Registro Nuevo Producto</span>
  <span class="fill-remaining-space"></span>
</mat-toolbar>
<!-- (ngSubmit)="onSubmitFunction($event) -->
<ion-content> <br>
  <form class="registro-form" [formGroup]="registroProductoFormGroup" #myForm="ngForm">
    <table cellspacing="0">
      <tr>
        <td>
          <mat-form-field>
            <mat-label>Nombre: </mat-label>
            <input #nombreP type="text" matInput minlength="3" maxlength="30" formControlName="nombre" required>
            <mat-hint>Minimo 3 caracteres</mat-hint>
            <mat-hint align="end">{{nombreP.value.length}} / 30</mat-hint>
            <mat-error *ngIf="registroProductoFormGroup.controls['nombre'].hasError('required')">Este campo es
              obligatorio</mat-error>
            <mat-error *ngIf="registroProductoFormGroup.controls['nombre'].hasError('minlength')">Dato Invalido
            </mat-error>
          </mat-form-field>
        </td>

        <td>
          <mat-form-field>
            <mat-label>Cantidad: </mat-label>
            <input matInput #cantidad type="number" formControlName="cantidad" min="1" max="100" required>
            <mat-error *ngIf="registroProductoFormGroup.controls['cantidad'].hasError('required')">Este campo es
              obligatorio</mat-error>
            <mat-error *ngIf="registroProductoFormGroup.controls['cantidad'].hasError('max')">Dato invalido</mat-error>
            <mat-error *ngIf="registroProductoFormGroup.controls['cantidad'].hasError('min')">Dato invalido</mat-error>
            <mat-error *ngIf="registroProductoFormGroup.controls['cantidad'].hasError('pattern')">Dato invalido
            </mat-error>
          </mat-form-field>
        </td>

        <td>
          <mat-form-field>
            <mat-label>Precio en Bs: </mat-label>
            <mat-hint>Maximo 4 digitos</mat-hint>
            <input matInput #precio maxlength="4" type="number" formControlName="precio" min="1" required>
            <mat-error *ngIf="registroProductoFormGroup.controls['precio'].hasError('required')">Este campo es
              obligatorio</mat-error>
            <mat-error *ngIf="registroProductoFormGroup.controls['precio'].hasError('maxlength')">Dato invalido
            </mat-error>
            <mat-error *ngIf="registroProductoFormGroup.controls['precio'].hasError('pattern')">Dato invalido
            </mat-error>
            <mat-error *ngIf="registroProductoFormGroup.controls['precio'].hasError('max')">Dato invalido</mat-error>
            <mat-error *ngIf="registroProductoFormGroup.controls['precio'].hasError('min')">Dato invalido</mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <br>
    <table cellspacing="0">
      <tr>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Categoria:</mat-label>
            <mat-select (click)="llenarCategorias()" formControlName="selectCat" [(value)]="selectedCategory"
              (selectionChange)=existeCategoria($event)>
              <mat-option *ngFor="let opcion of categorias" [value]="opcion.viewValue">
                {{opcion.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="registroProductoFormGroup.controls['selectCat'].hasError('required')">Seleccionar opcion
            </mat-error>
          </mat-form-field>
        </td>

        <td>
          <mat-form-field color="primary" appearance="fill">
            <mat-label>Fecha de Vencimiento:</mat-label>
            <input matInput [min]="min" [matDatepicker]="picker" formControlName="fechaV" color="primary" disabled>
            <mat-datepicker-toggle matSuffix [for]="picker" color="primary"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false" color="primary"></mat-datepicker>
            <mat-error *ngIf="registroProductoFormGroup.controls['fechaV'].hasError('required')">Este campo es
              obligatorio</mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table cellspacing="0">
      <tr>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Laboratorio / Proveedor:</mat-label>
            <mat-select (click)="llenarLaboratorios()" formControlName="selectLab" [(value)]="selectedLaboratory"
              (selectionChange)=existeLab($event)>
              <mat-option *ngFor="let opcion of laboratorios" [value]="opcion.viewValue">
                {{opcion.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="registroProductoFormGroup.controls['selectLab'].hasError('required')">Seleccionar opcion
            </mat-error>
          </mat-form-field>
        </td>

        <td>
          <mat-form-field appearance="fill">
            <mat-label>Agregar Imagen</mat-label>
            <mat-hint>Se admiten formatos .png .jpeg .jpg</mat-hint>
            <ngx-mat-file-input [formControl]="fileControl" accept="image/png, image/jpeg, image/jpg" color="primary"
              (change)="checkFile()">
            </ngx-mat-file-input>
            <mat-error *ngIf="fileControl.hasError('required')">Este campo es
              obligatorio</mat-error>
            <mat-error *ngIf="fileControl.hasError('maxSize')">No se permiten archivos
              mayores a 350 KB</mat-error>

          </mat-form-field>
        </td>
      </tr>
    </table>

    <table cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="descripcion">
            <mat-label>Descripcion: </mat-label>
            <mat-hint>Minimo 15 caracteres</mat-hint>
            <textarea matInput #descripcion minlength="15" maxlength="500" formControlName="descripcion"
              required></textarea>
            <mat-hint align="end">{{descripcion.value.length}} / 500</mat-hint>
            <mat-error *ngIf="registroProductoFormGroup.controls['descripcion'].hasError('required')">Este campo es
              obligatorio</mat-error>
            <mat-error *ngIf="registroProductoFormGroup.controls['descripcion'].hasError('minlength')">Dato Invalido
            </mat-error>
            <mat-error *ngIf="registroProductoFormGroup.controls['descripcion'].hasError('maxlength')">Dato Invalido
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <br>

    <div class="modal-footer">
      <button mat-flat-button color="warn" type="reset" (click)="resetCombo()">Cancelar</button>
      <button mat-flat-button color="primary" (click)="registrarProducto()">Registrar</button>
    </div>
    <!-- <button mat-flat-button color="accent">PRUEBA</button> -->
    <!-- (click)="registrarProducto() [disabled]="!registroProductoFormGroup.valid"-->
    <!-- <input #imageProduc type="hidden" [value]="urlImage | async"> -->
  </form>
</ion-content>