ion-content{
    width:100%;
    height:600px !important;
    // text-align-last: left;
    // align-content:space-around;
    border: 1px solid teal;

}
table{
    width: 100%;
    height: 100%;

}

mat-form-field{
    width:100%;
    height: 100%;

    // padding-bottom:10px;
}

// .nombre{
//     width:100%;
//     padding-right:10px;
// }
// .cant{
//     width:100%;
// }

// .descripcion{
//     width: 320%;
//     height: 200%;
//     padding-left:10px;
// }
td {
    padding-right: 20px;
    padding-left: 20px;
}
button {
    margin: 15px 15px 15px 0px;
}
