mat-form-field {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
td, th {
    width: 25%;
}

td {
    padding-right: 20px;
    padding-left: 20px;
}
button {
    margin: 5px 5px 5px 0px;
}