<mat-toolbar>
  <span class="fill-remaining-space"></span>
  <span>Laboratorios / Proveedores</span>
  <span class="fill-remaining-space"></span>
</mat-toolbar>

<ion-item-divider>
<ion-label>Registrar Laboratorio/Proveedor</ion-label>
</ion-item-divider>
<br>
<div *ngInit="cargarTablaLaboratorios()"></div>
<form [formGroup]="LaboratoryFormGroup" >
<table cellspacing="0"><tr>
  <td><mat-form-field >
      <mat-label>Ingrese Laboratorio / Proveedor: </mat-label>
      <mat-hint>Minimo 3 caracteres</mat-hint>
      <input #laboratory type="text" matInput minlength="3" maxlength="30" formControlName="laboratorio" required>
      <mat-hint align="end">{{laboratory.value.length}} / 30</mat-hint>
      <mat-error *ngIf="LaboratoryFormGroup.controls['laboratorio'].hasError('required')">
        Este campo es obligatorio
      </mat-error>
    </mat-form-field></td>
  
    <td><mat-form-field >
      <mat-label>Numero de Contacto: </mat-label>
      <mat-hint>Maximo 8 digitos</mat-hint>
      <input matInput  maxlength="8" formControlName="telf"required>
      <mat-error *ngIf="LaboratoryFormGroup.controls['telf'].hasError('required')">
        Este campo es obligatorio
      </mat-error>
    </mat-form-field></td>
  <td>
    <button mat-flat-button color="primary" (click)="registrarLaboratorio()" type="submit">Agregar</button>
  </td> 
 
</tr></table> 
<br>
</form>
<ion-item-divider>
<ion-label>Lista </ion-label>
</ion-item-divider>
<br>
<td><mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input (click)="actualizar()">
  </mat-form-field></td>
 <!-- <td>
    <button mat-flat-button color="accent" (click)="actualizar()">Actualizar</button>
  </td>  -->
<br>
<ion-content>
<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort>

  <ng-container *ngFor="let columna of columnas"matColumnDef="{{columna.name}}">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columna.titulo}}</th>
    <td mat-cell *matCellDef="let element"> {{element[columna.name]}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No hay resultados "{{input.value}}"</td>
  </tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
</div>
</ion-content>